@font-face {
    font-family: 'NeueMontreal-Regular';
    src: url('resources/fonts/NeueMontreal-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal-Medium';
    src: url('resources/fonts/NeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal-RegularItalic';
    src: url('resources/fonts/NeueMontreal-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'NeueMontreal-MediumItalic';
    src: url('resources/fonts/NeueMontreal-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

body {
    color: #F8F8F8;
    background-color: #0C0B0A;
    line-height: 130%;
    font-size: 16px;
    font-family: 'NeueMontreal-Regular';
}

body * {
    /*border: 1px solid #ffffff;*/
} 

#lets-go {
    display: inline-block;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-5px);
    }
    60% {
      transform: translateY(-5px);
    }
}

header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul a {
    color: #F8F8F8;
    text-decoration: none;
}

#logo {
    width: 2.25em;
}

nav li:nth-child(1),
nav li:nth-child(2) {
    display: none;
}

.welcome-description {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-bottom: 36px;
}

.welcome-description img {
    max-width: auto;
    max-height: auto;
    min-height: 279px;
    object-fit: cover;
}

.welcome-description h1 {
    margin: -1.2em 16px 0;
    flex: 1;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%; 
    text-transform: uppercase;
}

.welcome-description h1 span:first-child {
    float: left;
    margin-bottom: 2px;
}

.welcome-description h1 span:last-child {
    float: right;
}

.welcome-rel {
    margin-left: 5em;
}

.welcome-rel p {
    margin-bottom: 16px;
}

.welcome-rel a {
    text-decoration: none;
    color: #F8F8F8;
    margin-top: 0;
}

.about-description {
    border-top: 1px solid rgba(153, 51, 8, 0.5);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-bottom: 2.25em;
}

.about-description h2 {
    padding-top: 16px;
    cursor: pointer;
    color: rgba(153, 51, 8, 0.5);
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.about {
    margin-left: 10px;
    margin-right: 10px;
}

.about-content h3 {
    margin-top: 10px;
    color: #F8F8F8;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    text-transform: uppercase;
    margin-bottom: 0;
}

.about-content p {
    margin-top: 10px;
    color: #828181;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    width: 287px;
    float: right;
}

.about-content img {
    max-width: auto;
    max-height: auto;
    object-fit: cover;
    width: 100%;
    height: auto;
    filter: grayscale(1);
}

.experience {
    margin-left: 10px;
    margin-right: 10px;
}

.experience-description {
    border-top: 1px solid rgba(153, 51, 8, 0.5);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    width: auto;
}

.experience-description h2 {
    padding-top: 16px;
    cursor: pointer;
    color: rgba(153, 51, 8, 0.5);
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.experience-content h3 {
    margin: 0 auto;
    color: #F8F8F8;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    text-transform: uppercase;
    padding-top: 10px;
}

.experience-content > p {
    width: 287px;
    color: #828181;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-left: 5.4em;
}

.accordion {
    display: flex;
    margin-top: 2em;
    flex-direction: column;
}

.accordion-section a {
    text-transform: uppercase;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.accordion-section > a > img {
    float: inline-end;
    width: 1.5rem;
    height: 1.5rem;
    align-items: flex-end;
}

.accordion-section {
    padding: 20px 0;
    border-top: 1px solid rgba(248, 248, 248, 0.40);
}

.accordion-content {
    display: none;
    padding-top: 3%;
}

.two-column-layout {
    display: flex;
    gap: 10px;
}

.column.date-column {
    flex: 35; 
    color: #828181;
}

.column.info-column {
    flex: 45; 
    color: #818181;
}

.column.info2-column {
    flex: 45; 
    color: #818181;
}
  
.column.description-column {
    flex: 65; 
    color: #828181;
}

.highlight-info {
    color: #F8F8F8;
}    

.end-line-info {
    float: inline-end;
    flex: 45; 
    color: #f8f8f8;
}

.end-line-desc {
    flex: 45; 
    color: #f8f8f8;
}

.languages {
    border-bottom: 1px solid rgba(248, 248, 248, 0.40);
}

.project {
    cursor: pointer;
}

.proj-desc-2 h3 {
    margin: 0 auto;
    color: #F8F8F8;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    text-transform: uppercase;
    padding-top: 10px;
}

.proj-desc-2 p {
    width: 287px;
    color: #828181;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-left: 5.4em;
}

.projects-description > h2 {
    padding-top: 16px;
    color: rgba(153, 51, 8, 0.5);
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.projects-description {
    border-top: 1px solid rgba(153, 51, 8, 0.5);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    margin-top: 7.5em;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr)); 
    place-items: stretch;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
}

.projects-container {

}

.grid-item {
    background-color: #f0f0f0;
    margin-top: 10px;
    place-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item h2 {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.50);
    font-family: 'NeueMontreal-Regular';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    padding-top: 5.5em;
    padding-bottom: 6em;
    cursor: pointer;
}

#project1 {
    background-image: url(./resources/pics/Ufa.jpg);
    background-size: cover;
    background-position: center center;
    height: 13.125em;
    width: 100%;
}

#project2 {
    background-image: url(./resources/pics/BarcelonaAir.jpg);
    background-size: cover;
    background-position: center center;
    height: 13.125em;
    width: 100%;
}

#project3 {
    background-image: url(./resources/pics/UfaPublicPlaces.jpg);
    background-size: cover;
    background-position: center center;
    height: 13.125em;
    width: 100%;
}

#project4 {
    background-image: url(./resources/pics/UfaMethodology.jpg);
    background-size: cover;
    background-position: center center;
    height: 13.125em;
    width: 100%;
    display: none;
}

#project5 {
    background-image: url(./resources/pics/YerevanHeatIsland.jpeg);
    background-size: cover;
    background-position: center center;
    height: 13.125em;
    width: 100%;
    display: none;
}

#project6 {
    background-image: url(./resources/pics/YerevanHousing.jpeg);
    background-size: cover;
    background-position: center center;
    height: 13.125em;
    width: 100%;
    display: none;
}

#project7 {
    background-image: url(./resources/pics/YerevanGreenery.jpeg);
    background-size: cover;
    background-position: center center;
    height: 13.125em;
    width: 100%;
    display: none;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.modal-content {
    height: 85%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
}

.modal-content > * {
    /*border: 1px solid black;*/
}

.modal-content img {
    max-width: 100%;  
    height: 40%;
    margin: 0 auto;
    object-fit: cover;
}

.modal-content h4 {
    width: 100%;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-top: 5%;
    margin-left: 5%;
    box-sizing: border-box;
}
  
.modal-content h3 {
    width: 100%;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    position: relative;
    box-sizing: border-box;
    margin-left: 5%;
    column-count: 2;
    margin-bottom: 5%;
    padding-right: 5%;
}

.modal-content h5 {
    width: 100%;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
    margin-top: 2%;
    margin-left: 5%;
    position: relative;
    box-sizing: border-box;
    margin-right: 5%;
}

.modal-content p {
    width: 100%;
    color: #313131;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 1%;
    position: relative;
    box-sizing: border-box;
    margin-right: 5%;
    margin-left: 5%;
}

.close {
    margin: 3%;
    font-size: 2rem;
    cursor: pointer;
    float: inline-end;
}

.text1 {
    color: #313131;
}

.text2 {
    color: #A3A3A3;
}

#showMoreButton {
    width: 100%;
    margin-top: 30px;
    color: #F8F8F8;
    background-color: #0C0B0A;
    height: 56px;
    text-transform: uppercase;
    border: 1px solid #F8F8F8;
}

.projects-closing-text {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5em;
    margin-bottom: 2.5em;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
}

.contacts h2 {
    color: rgba(153, 51, 8, 0.5);
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.contacts-description {
    border-top: 1px solid rgba(153, 51, 8, 0.5);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    width: auto;
}

.last-header {
    padding: 16px;
    cursor: pointer;
    color: rgba(153, 51, 8, 0.5);
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.contacts {
    margin-left: 10px;
    margin-right: 10px;
}

.contacts-content h3 {
    margin-top: 10px;
    color: #F8F8F8;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    text-transform: uppercase;
    margin-bottom: 0;
}

.contacts ul {
    list-style: none;
    margin-left: 2em;
}

.links ul a {
    text-decoration: none;
    color: #F8F8F8;
    line-height: 140%;
}

.svg-links {
    display: flex;
    width: 7em;
    max-width: 100%;
    margin-left: 4em;
}

.svg-links img {
    width: 3.5em;
}

.red-ps {
    color: rgb(153, 51, 8);
}

#telegram {
    width: 2.7em;
    padding: 0.35em;
}

@media screen and (min-width: 1280px) {

body > * {

}

header {
    border-bottom: 1px solid #F8F8F8;
    margin-left: 0;
    padding-left: 12.5%;
    padding-right: 12.5%;
    margin-bottom: 4.5em;
}

nav li:nth-child(1),
nav li:nth-child(2) {
    display: block;
    margin-right: 2.5em;
}

.welcome {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.welcome-description h1 {
    margin: -1.2em 0px 0;
    flex: 1;
    font-size: 6em;
    font-style: normal;
    font-weight: bold;
    line-height: 80%; /* 85.6px */
    text-transform: uppercase;
}

.welcome-description {
    margin-bottom: 152px;
}

.first-line {
    margin-top: -1%;
}

.second-line {
    margin-top: 1%;
}

.welcome-rel p {
    color: #828181;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-left: 20%;
    margin-top: 42px;
    margin-bottom: 16px;
}

.welcome-rel a {
    margin-left: 20%;
    margin-top: 0;
    margin-bottom: 0;
}

.about {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.about-description {
    margin-bottom: 180px;
}

.about-description h2 {
    padding: 0;
    margin: 30px 0 0;
    width: 45px;
}

.about-content img {
    margin-left: 20%;
    width: 80%;
}

.about-content h3 {
    font-family: 'NeueMontreal-Medium';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    text-transform: uppercase;
    margin-left: 20%;
    margin-top: -2.5%;
}

.about-content p {
    float: left;
    margin-left: 20%;
    width: 430px;
}

.experience {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.experience-description h2 {
    padding: 0;
    margin: 30px 0 0;
    width: 80px;
}

.experience-content h3 {
    font-family: 'NeueMontreal-Medium';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    text-transform: uppercase;
    margin-left: 20%;
    margin-top: -2.5%;
    padding: 0;
}

.experience-content > p {
    margin-left: 20%;
    width: 430px;
}

.accordion {
    margin-left: 20%;
    margin-bottom: 180px;
}

.projects-description{
    margin-top: 0;
    padding-top: 0;
}

.projects {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.projects-description > h2 {
    padding-top: 0;
    margin-top: 30px;
    color: rgba(153, 51, 8, 0.5);
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    width: 80px;
}

.proj-desc-2 h3 {
    font-family: 'NeueMontreal-Medium';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    text-transform: uppercase;
    margin-left: 20%;
    margin-top: -3.5%;
    padding: 0;
}

.proj-desc-2 p {
    margin-left: 20%;
    width: 430px;
}

.projects-closing-text {
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 180px;
    margin-bottom: 50px;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
}

.red-ps {
    margin-left: 5px;
}

.first-line-end {
    margin-left: 20%;
}

.second-line-end {

}

.grid-item h2 {
    opacity: 0;
}

.grid-item h2:hover {
    opacity: 1;
}

.projects-container {
    width: auto;
    margin-left: 20%;
}

#project1 {
    width: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    height: 93%;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-content img {
    max-width: 100%; 
    width: 100%;
    margin: 0 0;
    object-fit: cover;
    height: 50%;
}

.modal-content h4 {
    width: 30%;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-top: 5%;
    margin-left: 5%;
    box-sizing: border-box;
}
  
.modal-content h3 {
    width: 60%;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    position: relative;
    box-sizing: border-box;
    margin-left: 35%;
    column-count: 2;
    margin-bottom: 5%;
    padding-right: 5%;
    margin-top: 2%;
}

.modal-content h5 {
    width: 60%;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
    margin-top: -3.5%;
    margin-left: 35%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-right: 5%;
}

.modal-content p {
    width: 60%;
    color: #313131;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 35%;
}

.close {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 9%;
}

.text1 {
    font-weight: 2800;
    color: #313131;
}

.text2 {
    color: #A3A3A3;
}

.contacts {
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 60px;
}

.contacts h2 {
    padding: 0;
    width: 80px;
    margin-top: 30px;
}

.contacts-content h3 {
    font-family: 'NeueMontreal-Medium';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    text-transform: uppercase;
    margin-left: 20%;
    margin-top: -3.5%;
    padding: 0;
}

.contacts ul {
    margin-left: 20%;
    padding-left: 0;
}

.links ul a {
    letter-spacing: 0.75px;
}

.svg-links {
    margin-left: 20%;
}

#showMoreButton:hover {
    background-color: #F8F8F8;
    color: #0C0B0A;
}

.four-headers {
    margin-top: -0.05em;
}
}

@media screen and (min-width: 451px) and (max-width: 1280px) {
    
header {
        border-bottom: 1px solid #F8F8F8;
        margin-left: 0;
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-bottom: 4.5em;
}
    
nav li:nth-child(1),
nav li:nth-child(2) {
        display: block;
        margin-right: 2.5em;
}

.welcome {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.welcome-description h1 {
    margin: -1.2em 0px 0;
    flex: 1;
    font-size: 100px;
    font-style: normal;
    font-weight: bold;
    line-height: 80%;
    text-transform: uppercase;
}

.welcome-description {
    margin-bottom: 152px;
}

.welcome-description img {
    max-height: 470px;
    height: auto;
}

.first-line {
    margin-top: -1%;
}

.second-line {
    margin-top: 1%;
}

.welcome-rel p {
    color: #828181;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-left: 21%;
    margin-top: 42px;
    margin-bottom: 16px;
}

.welcome-rel a {
    margin-left: 21%;
    margin-top: 0;
    margin-bottom: 0;
}

.about {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.about-description {
    margin-bottom: 180px;
}

.about-description h2 {
    padding: 0;
    margin: 20px 0 0;
    width: 45px;
}

.about-content img {
    margin-left: 26.5%;
    width: 100%;
    max-width: 757px;
}

.about-content h3 {
    font-family: 'NeueMontreal-Medium';
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    text-transform: uppercase;
    margin-left: 26.5%;
    margin-top: -2%;
    margin-bottom: 10px;
}

.about-content p {
    float: left;
    margin-left: 26.5%;
    width: 430px;
    font-size: 14px;
    margin-bottom: 20px;
}

.experience {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.experience-description h2 {
    padding: 0;
    margin: 20px 0 0;
    width: 80px;
}

.experience-content h3 {
    font-family: 'NeueMontreal-Medium';
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    text-transform: uppercase;
    margin-left: 26.5%;
    margin-top: -2%;
    padding: 0;
}

.experience-content > p {
    margin-left: 26.5%;
    width: 430px;
}

.accordion {
    margin-left: 26.5%;
    margin-bottom: 180px;
}

.projects-description{
    margin-top: 0;
    padding-top: 0;
}

.projects {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.projects-description > h2 {
    padding-top: 0;
    margin-top: 30px;
    color: rgba(153, 51, 8, 0.5);
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    width: 80px;
}

.proj-desc-2 h3 {
    font-family: 'NeueMontreal-Medium';
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    text-transform: uppercase;
    margin-left: 20%;
    margin-top: -3%;
    padding: 0;
}

.proj-desc-2 p {
    margin-left: 20%;
    width: 430px;
}

.projects-closing-text {
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 180px;
    margin-bottom: 50px;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
}

.red-ps {
    margin-left: 5px;
}

.first-line-end {
    margin-left: 20%;
}

.second-line-end {

}

.grid-item h2 {
    opacity: 0;
}

.grid-item h2:hover {
    opacity: 1;
}

.projects-container {
    width: auto;
    margin-left: 25.5%;
}

.projects {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.proj-desc-2 h3 {
    margin-left: 25.5%;
}

.proj-desc-2 p {
    margin-left: 25.5%;
}

#project1 {
    width: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    height: 93%;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-content img {
    max-width: 100%; 
    width: 100%;
    margin: 0 0;
    object-fit: cover;
    height: 50%;
}

.modal-content h4 {
    width: 30%;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-top: 5%;
    margin-left: 5%;
    box-sizing: border-box;
}
  
.modal-content h3 {
    width: 60%;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    position: relative;
    box-sizing: border-box;
    margin-left: 35%;
    column-count: 2;
    margin-bottom: 5%;
    padding-right: 5%;
    margin-top: 2%;
}

.modal-content h5 {
    width: 60%;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
    margin-top: -3.5%;
    margin-left: 35%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-right: 5%;
}

.modal-content p {
    width: 60%;
    color: #313131;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 35%;
}

.close {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 9%;
}

.text1 {
    font-weight: 2800;
    color: #313131;
}

.text2 {
    color: #A3A3A3;
}

.projects-closing-text {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5em;
    margin-bottom: 2.5em;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
}

.first-line-end {
    margin-left: 25.5%;
}

.contacts {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 60px;
}

.contacts h2 {
    padding: 0;
    width: 80px;
    margin-top: 20px;
}

.contacts-content h3 {
    font-family: 'NeueMontreal-Medium';
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    text-transform: uppercase;
    margin-left: 25.5%;
    margin-top: -2%;
    padding: 0;
}

.contacts ul {
    margin-left: 25.5%;
    padding-left: 0;
}

.links ul a {
    letter-spacing: 0.75px;
}

.svg-links {
    margin-left: 25.5%;
}

#showMoreButton:hover {
    background-color: #F8F8F8;
    color: #0C0B0A;
}

.four-headers {
    margin-top: -0.05em;
}
}